.App {
  text-align: center;
}

.chart-wrapper {
  text-align: center;
  width: 100%;
}

.line-switcher-wrapper {
  display: inline-block;
}

#switcher {
  text-align: center;
}

#switch-mode {
  border: 0;
  background: transparent;
  color: #0099c1;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

#switch-mode:hover {
  color: #00c6f3;
}